<div class="form">
  <h1>Gamify App!</h1>
  <form id="signup" action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="form-group">
      <input class="form-control" type="text" name="user[username]" value="<%= @user.username %>" placeholder="username">
    </div>

    <div class="form-group">
      <input class="form-control" type="password" name="user[password]" placeholder="password">
    </div>

    <input type="submit" class="btn btn-default" value="Play" id="Play">
  </form>

  <a href="<%= new_session_url %>"><button name="Sign In" class="btn btn-default">Sign In</button></a>

  <form method="post" action="<%= session_url %>">
    <input type="submit" class="btn btn-default" value="Sign In as Guest!">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="user[username]" value="Guest">
    <input type="hidden" name="user[password]" value="password">
  </form>
</div>
