<div class="item">
  <span class="checks">
    <span class="check glyphicon"></span>
    <span class="minus glyphicon glyphicon-minus hide"></span>
  </span>
  <span class="title">
    <span class="editable"><%= model.escape('title') %></span>
  </span>
  <span class="edit glyphicon glyphicon-pencil"></span>
</div>

<div class="edit-box">
  <div class="icons">
    <span class="del glyphicon glyphicon-trash"></span>
    <span class="save glyphicon glyphicon-ok"></span>
  </div>

  <div class="options">
    <input type="text" class="description" value="<%= model.escape('description') %>" placeholder="description">

    <ul class="taskTags">
      <% tags.each(function(tag){ %>
        <input type="checkbox" name="tag_ids[]" id="tag_<%= tag.escape("name") %>" value="<%= tag.id %>">
        <label for="tag_<%= tag.escape("name") %>"><%= tag.escape("name") %></label>
      <% }) %>
    </ul>
  </div>
</div>
