<h1><%= name %></h1>

<form class="add task <%= name %>">
  <input type="text" name="<%= name %>[title]" class="task-title" placeholder="Add <%= name %>">

  <span class="btn glyphicon glyphicon-plus"></span>
</form>

<ul class="task-list <%= name %>">

</ul>
