<div class="icons">
  <span class="del glyphicon glyphicon-trash"></span>
</div>

<form class="options">
  <div class="description">
    <h3>Description:</h3>
    <span class="editable"><%= task.escape('description') ? task.escape('description') : "add description"%></span>
  </div>

  <div class="plus-minus">
    <h3>Buttons:</h3>
    <span class="plus btn glyphicon glyphicon-plus"></span>
    <span class="min btn glyphicon glyphicon-minus"></span>
  </div>
  
  <h3>Tags:</h3>
  <ul class="task-tags">
    <% tags.each(function(tag){ %>
      <% if (task.tags().get(tag.id)){%>
       <% checked = "checked" %>
      <% } else { %>
        <% checked = "" %>
      <% } %>
      <li>
        <input type="checkbox" name="tag_ids[]" id="tag_<%= tag.escape("name") %>" value=<%= tag.id %> <%= checked %>>
        <label for="tag_<%= tag.escape("name") %>"><%= tag.escape("name") %></label>
      </li>
    <% }) %>

    <input type="hidden" name="tag_ids[]" value="">
  </ul>
</form>
