<div class="details">
  <%= user.get("username") %>
  <small>
    Level <%= user.get("level") %>
    Gold <%= user.get("gold") %>
  </small>
</div>

<div class="bars">
  <div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= user.get("health") %>" aria-valuemin="0" aria-valuemax="<%= user.get("max_health") %>" style="width: <%= user.get("health")/user.get("max_health")*100 %>%">
      <span class="sr-only"></span>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= user.get("xp") %>" aria-valuemin="0" aria-valuemax="<%= user.get("xp") %>" style="width: <%= user.get("xp")/10*100 %>%">
      <span class="sr-only"></span>
    </div>
  </div>
</div>
