<%= user.get("username") %>
<small>
  Level <%= user.get("level") %>
  <ul>
    <li><%= user.get("gold") %> Gold</li>
    <li><%= user.get("xp") %> XP</li>
    <li><%= user.get("health") %> Health</li>
  </ul>
</small>
